# Ignore node_modules in all directories
node_modules/

# Ignore build output
/.next
/out

# Ignore environment files if used
.env.local
.env.*.local
.env

# Ignore npm-debug.log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore .DS_Store files
.DS_Store

# Ignore .idea directory
.idea/

# Ignore .vscode directory
.vscode/

# Ignore .next folders for each Next.js application
/next-redux-2/.next
/next-redux-practice/.next
/REDUX_PRACTICE/.next

# Ignore out folders for each Next.js application
/next-redux-2/out
/next-redux-practice/out
/REDUX_PRACTICE/out

# Ignore .env.local files for each Next.js application
/next-redux-2/.env.local
/next-redux-practice/.env.local
/REDUX_PRACTICE/.env.local

# Add more patterns as needed depending on your specific setup
